@model CarWebMVC.Models.ViewModels.VehicleModelViewModel

@{
    ViewData["Title"] = "Chi tiết mẫu xe";
}

<div class="w-100">
    <h1>Chi tiết mẫu xe</h1>

    <div>
        <hr />
        <dl class="row w-100">
            <dt class="col-sm-3 col-md-3 col-lg-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-9 col-md-3 col-lg-2">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-3 col-md-3 col-lg-2">
                @Html.DisplayNameFor(model => model.Price)
            </dt>
            <dd class="col-sm-9 col-md-3 col-lg-2">
                @Html.DisplayFor(model => model.Price)
            </dd>
            <dt class="col-sm-3 col-md-3 col-lg-2">
                @Html.DisplayNameFor(model => model.VehicleLineName)
            </dt>
            <dd class="col-sm-9 col-md-3 col-lg-2">
                @Html.DisplayFor(model => model.VehicleLineName)
            </dd>
            <dt class="col-sm-3 col-md-3 col-lg-2">
                @Html.DisplayNameFor(model => model.TransmissionName)
            </dt>
            <dd class="col-sm-9 col-md-3 col-lg-2">
                @Html.DisplayFor(model => model.TransmissionName)
            </dd>
            <dt class="col-sm-3 col-md-3 col-lg-2">
                @Html.DisplayNameFor(model => model.EngineTypeName)
            </dt>
            <dd class="col-sm-9 col-md-3 col-lg-2">
                @Html.DisplayFor(model => model.EngineTypeName)
            </dd>
            <dt class="col-sm-3 col-md-3 col-lg-2">
                @Html.DisplayNameFor(model => model.Color)
            </dt>
            <dd class="col-sm-9 col-md-3 col-lg-2">
                @Html.DisplayFor(model => model.Color)
            </dd>
            <dt class="col-sm-3 col-md-3 col-lg-2">
                @Html.DisplayNameFor(model => model.InteriorColor)
            </dt>
            <dd class="col-sm-9 col-md-3 col-lg-2">
                @Html.DisplayFor(model => model.InteriorColor)
            </dd>
            <dt class="col-sm-3 col-md-3 col-lg-2">
                @Html.DisplayNameFor(model => model.CountryOfOrigin)
            </dt>
            <dd class="col-sm-9 col-md-3 col-lg-2">
                @Html.DisplayFor(model => model.CountryOfOrigin)
            </dd>
            <dt class="col-sm-3 col-md-3 col-lg-2">
                @Html.DisplayNameFor(model => model.Year)
            </dt>
            <dd class="col-sm-9 col-md-3 col-lg-2">
                @Html.DisplayFor(model => model.Year)
            </dd>
            <dt class="col-sm-3 col-md-3 col-lg-2">
                @Html.DisplayNameFor(model => model.NumberOfDoors)
            </dt>
            <dd class="col-sm-9 col-md-3 col-lg-2">
                @Html.DisplayFor(model => model.NumberOfDoors)
            </dd>
            <dt class="col-sm-3 col-md-3 col-lg-2">
                @Html.DisplayNameFor(model => model.NumberOfSeats)
            </dt>
            <dd class="col-sm-9 col-md-3 col-lg-2">
                @Html.DisplayFor(model => model.NumberOfSeats)
            </dd>
            <dt class="col-12 mt-4">
                Hình ảnh
            </dt>
            <dd class="col-12 d-flex flex-wrap">
                @if (Model.ImageUrls.Count > 0)
                {
                    foreach (var imgUrl in Model.ImageUrls)
                    {
                        <img src="@Url.Content(imgUrl)" class="img-thumbnail m-1"
                            style="max-width: 200px; max-height: 200px;" />
                    }
                }
            </dd>
        </dl>
    </div>
    <div class="d-flex gap-2">
        <a asp-action="Index">
            Quay lại danh sách
        </a>
        <a asp-action="Edit" asp-route-id="@Model?.Id">Chỉnh sửa</a>
        <!-- Button trigger modal -->
        <div class="d-block d-lg-none ms-auto">
            <a class="btn btn-warning" type="button" class="link" data-bs-toggle="modal" data-bs-target="#deleteModal">
                Xóa
            </a>
        </div>
        <div class="d-none d-lg-block ms-auto">
            <a class="btn btn-warning btn-sm" type="button" class="link" data-bs-toggle="modal"
                data-bs-target="#deleteModal">
                Xóa
            </a>
        </div>

    </div>
    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Xóa mẫu xe</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Bạn có chắc chắn muốn xóa mẫu xe này không?
                </div>
                <div class="modal-footer">
                    <form asp-action="Delete">
                        <input type="hidden" asp-for="Id" />
                        <input type="submit" value="Xóa luôn" class="btn btn-danger btn-sm" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>