@model IEnumerable<CarWebMVC.Models.ViewModels.VehicleModelViewModel>

@{
    ViewData["Title"] = "Mẫu xe";
}


<div class="w-100">
    <h1>Mẫu xe</h1>

    <p>
        <a asp-action="Create">Thêm mới</a>
    </p>
    <div class="table-responsive">        
        <table class="table table-striped d-table">
            <thead>
                <tr>
                    <th style="min-width: 100px;">
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th style="min-width: 100px;">
                        @Html.DisplayNameFor(model => model.Thumbnail)
                    </th>
                    <th style="min-width: 100px;">
                        @Html.DisplayNameFor(model => model.Price)
                    </th>
                    <th style="min-width: 100px;">
                        @Html.DisplayNameFor(model => model.VehicleLineName)
                    </th>
                    <th style="min-width: 100px;">
                        @Html.DisplayNameFor(model => model.TransmissionName)
                    </th>
                    <th style="min-width: 100px;">
                        @Html.DisplayNameFor(model => model.EngineTypeName)
                    </th>
                    <th style="min-width: 100px;">
                        @Html.DisplayNameFor(model => model.Color)
                    </th>
                    <th style="min-width: 100px;">
                        @Html.DisplayNameFor(model => model.InteriorColor)
                    </th>
                    <th style="min-width: 100px;">
                        @Html.DisplayNameFor(model => model.CountryOfOrigin)
                    </th>
                    <th style="min-width: 100px;">
                        @Html.DisplayNameFor(model => model.Year)
                    </th>
                    <th style="min-width: 100px;">
                        Thao tác
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            <img src="@item.Thumbnail" alt="@item.Name" style="max-width: 100px; max-height: 100px;" />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.VehicleLineName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TransmissionName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EngineTypeName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Color)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.InteriorColor)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CountryOfOrigin)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Year)
                        </td>
                        <td class="d-grid gap-1">
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary btn-sm">Chỉnh sửa</a>
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary btn-sm">Chi tiết</a>                            
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>